.input{
    position: relative;
}
.buttonAdd{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.buttonAdd button {
    background-color: #4CAF50; /* Màu nền xanh lá cây */
    color: white; /* Màu chữ trắng */
    border: none; /* Không có đường viền */
    padding: 10px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa chữ */
    text-decoration: none; /* Không có gạch chân */
    display: inline-block; /* Hiển thị như một phần tử inline-block */
    font-size: 16px; /* Kích thước chữ */
    border-radius: 5px; /* Bo góc */
    transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển đổi */
}

.buttonAdd button:hover {
    background-color: #45a049; /* Màu nền khi hover */
    transform: translateY(-2px); /* Hiệu ứng nâng lên */
}
.buttonDele{
    background-color: #e04141; /* Màu nền xanh lá cây */
    color: white; /* Màu chữ trắng */
    border: none; /* Không có đường viền */
    padding: 10px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa chữ */
    text-decoration: none; /* Không có gạch chân */
    display: inline-block; /* Hiển thị như một phần tử inline-block */
    font-size: 16px; /* Kích thước chữ */
    border-radius: 5px; /* Bo góc */
    transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển đổi */ 
}
.buttonDele:hover {
    background-color: #f01004; /* Màu nền khi hover */
    transform: translateY(-2px); /* Hiệu ứng nâng lên */
}
.inputQuatity{
    max-width: 100px;
    width: 100%;
}
.cardItem{
    cursor: pointer;
}
.cardItem:hover{
    background-color: #edadad;
}